#contenedorEntradas{
    background-color: #fffed4;
    border: 1px solid #b3d4fc;
    margin-bottom: 10px;
}

#contenedorEntradas > div > p:nth-child(1){
    background-color: #222222;
    padding: 10px;
    color: #e5e5e5;
}

#contenedorEntradas > div{
    padding: 10px;
}

#contenedorEntradas{
    max-height: 800px;
}